mixin nav-content()
	ul
		li: a(class="active" href="#") Главная
		li: a(href="#") Наша история
		li: a(href="#") Портфолио
		li: a(href="#") Наша команда
		li: a(href="#") Блог
		li: a(href="#") Контакты

.home
	.down-btn
	.container
		.row
			.wrap
				.top-navigation
					.logo
						a(href="#")
							img(src="assets/img/logo.png", alt="Dots Around")
					.nav
						+nav-content()
						

				h3.sub-title Our Clients Are Our First Priority
				h1.title welcome to Dots Around
				.sub-line
					.left-line
					.circle
					.right-line
				p.sub-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

				a(href="#" class="active-btn btn") get started now
				a(href="#" class="pasive-btn btn") learn more
